body {
	font-family: helvetica;
	background: #333;
	padding: 40px;
}

body, a {
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

a:hover {
	color: #999;
}

th, td {
	padding: 5px;
}